/* 
.div{
    width: 300px;
    height: 250px;
    background-color: white;
    opacity: 90%;
    border-radius: 20px;
    margin: 5%;
}
.fotos{
    display: flex;
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100px;
    margin-left: 29px;
    padding-top: 15px;
}
.card-title{
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
}

.btn{
    border-radius: 30%;
    background-color: white;
    
    
}

.btnn{
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
    padding-right: 3%;
}

.imagen{
    padding-left: 40px;
}
.img{
    height: 120px;
    width: 120px;
}
p{
    font-size: 1.2rem;
}
@media screen and (max-width: 500px){
    .div{
        margin: 5%
    }
}  */

